html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: #fff;
  background-color: rgba(41, 64, 86, 1);
}

header {
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

header img.logo {
  height: 48px;
  width: 35px;
}

header .menu {
  position: relative;
  left: 0px;
}

header .menu > li {
  text-transform: uppercase;
  font-size: 1.2em;
  font-family: 'Titillium Web', arial, helvetica, sans-serif;
  font-weight: 100;
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}

header .menu > li:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

#content {
  padding-top: 25px;
}

.deck{
  margin: 0 auto;
  max-width: 940px;
}

.deck nav {
  width: 100%; 
  background-color: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

#nav_header {
  style='float: left;
  padding-right: 15px;
}

select {
  text-transform: none;
  line-height: 30px;
  height: 30px;
}

select textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

.form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

#card_img {
  margin: 25px;
  display: none;
}

@media screen and (min-width: 725px){
  #card_img {
    float: right;
    display: block;
  }
}

#card_img img {
  border: 5px solid black;
  border-radius: 20px;
}

#deck_info{
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 25px;
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-content: none;
  align-items: center;
}

.pull-left {
  float: left;
}

.card_list{
  display: none;
  float: left;
}

#deck_info .card_list ul{
  list-style-type: none;
  display: block;
}

.card_list a{
  text-decoration: none;
  color: ghostwhite;
}

#deck_format{
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 25px;
  padding: 10px 50px;
  justify-content: space-between;
  display: flex;
  box-sizing: border-box;
  align-content: center;
  align-items: center;
} 