
/* ---------- SEARCH ---------- */

#search {
	background: #42454e;
	border-radius: 3px;
	display: inline-block;
	padding: 7px;
}

#search input {
	float: left;
}

#search input[type="search"],
#search input[type="submit"] {
	border-radius: 3px;
	font-size: 12px;
}

#search input[type="search"] {
	background: #fff;
	color: #42454e;
	min-width: 184px;
	padding: 6px 8px;
}

#search input[type="submit"] {
	background: #1bba9a;
	color: #fff;
	font-weight: bold;
	margin-left: 7px;
	padding: 6px 10px;
}

#search input[type="submit"]:hover {
	background: #189e83;
}

#search input[type="search"]::-webkit-input-placeholder { color: #42454e; }
#search input[type="search"]:-moz-placeholder { color: #42454e; }
#search input[type="search"]:-ms-input-placeholder { color: #42454e; }