/*http://www.colorcombos.com/color-schemes/22/ColorCombo22.html orange color combos*/


body {
  //overflow: hidden;
  background-color: #9C8AA5;
}

h1 {
  text-align: center;
  font-size: 75pt;
  margin-top: 55px;
  min-width:685px;
}

#mainContainer {
  width: 400px;
  height: 100%;
  overflow: hidden;
  position: relative;
  /*Background: #000; */
  margin-top: 20px;
}

.slider {
  width: 250px;
  height: 250px;
  overflow: hidden;
  position: relative;
  background: #FF9900;
  border-radius: 5%;
  border: 15px solid #DD6600;
  border-style: outset;
  box-shadow: 0 0 15px red;
  margin-top: 55px;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
}

.arrow {
  position: absolute;
  z-index: 1002;
  display: block;
  top: 50%;
  margin-top: -50px;
  width: 36px;
  height: 71px;
  outline: none;
  cursor: pointer;
  /*background: url(../assets/img/blank.gif) no-repeat;*/
}

.arrow.prev {
  /*opacity: -0.2;*/
  left: 20px;
  background-image: url(../assets/img/paddle_prev_999.png);
  transition: 0.2s linear all;
}

.arrow.next {
  /*opacity: 0.2;*/
  right: 20px;
  background-image: url(../assets/img/paddle_next_999.png);
  transition: 0.2s linear all;
}

.arrow.prev:hover {
  opacity: 1;
  background-image: url(../assets/img/paddle_prev_fff.png);
}

.arrow.next:hover {
  opacity: 1;
  background-image: url(../assets/img/paddle_next_fff.png);
}

form {
  margin-left:95px;
}

form input {
  display:none;
  bottom: 10px;
}

#findDecks {
  margin-left: 60px;
}

#manaButtons {
  margin-left: 65px;
}

#manaButtons button {
  margin-left: 10px;
  margin-right: 12px;
  background: #9C8AA5;
  border-width: 3px;
  border-radius: 50%;
  height:15px;
  border-style: inset;
  box-shadow: 0 0 2px black;
}

#redButton {
  border-color:red;
  background-color: red;
}

#greenButton {
  border-color:green;
  background-color: green;
}

#blueButton {
  border-color:blue;
  background-color: blue;
}

#blackButton {
  border-color:black;
  background-color: black;
}

#whiteButton {
  border-color:#white;
  background-color: white;
}

#manaButton {
  z-index: 2;
  position: relative;
  background-color: transparent;
  height: 250px;
  width: 250px;
  overflow: hidden;
  border-style: none;
}

/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

.nav {
  text-align: center;
  display: block;
  position: absolute;
  z-index: 3;
  left: 0;
  bottom: -25px;
  right: 0;
  height: 48px;
}

.nonDraggableImage{
  -webkit-user-drag: none;
}

.nav .wrapper {
  margin: 0 auto;
  width: 100%;
  padding: 1em 0 .8em;
}

.nav ul {
  margin: 0;
  width: 100%;
}

.nav .dot, .nav .dot a {
  display: inline-block;
  zoom: 1;
}

.dots .dot {
  position: relative;
  margin: 0 8px;
  width: 12px;
  height: 12px;
}

.dots .dot a {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: #C13100;
  border: 1px solid transparent;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s, border-color 0.25s;
  -moz-transition: background-color 0.25s, border-color 0.25s;
  transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot a.active {
  border-color: #7ac2ff;
  background-color: #cca200;
}

header{
  /* Background Colour */
  background-color: white;
  /* Height × Width */
  height: 100px;
  min-width: 1250px;
}

/* Everything beyond this point isn't properly documented and styled */
#navbar { 
  float: right;
  padding-left: 10px; 
  padding-right: 10px;   
}

#search {
  float: right;
  padding-left: 10px; 
  padding-right: 10px; 
}

#headerImage {
  width:55px;
  height:80px;
  float: left;
  padding-left: 10px; 
  padding-right: 10px; 
  padding-top: 10px; 
}

/* http://3.7designs.co/blog/2008/06/10-examples-of-beautiful-css-typography-and-how-they-did-it/ */ 
#headerTitle {
  float: left;
  padding-left: 10px; 
  padding-right: 10px;
  padding-top: 25px; 
  font-family: times, Times New Roman, times-roman, georgia, serif;
  color: #BDAEC6;
  margin: 0;
  font-size: 51px;
  line-height: 44px;
  letter-spacing: -2px;
  font-weight: bold;  
}

footer {
  /* Background Colour */
  background-color: whitesmoke;
  /* Height × Width */
  height: 100px;
  min-width: 1250px; 
}
